server:
  port: 8001

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/v1/user/**

        - id: event-service
          uri: lb://EVENT-SERVICE
          predicates:
            - Path=/api/v1/event/**
#          filters:
#            - StripPrefix=2            # Removes /api/v1 from forwarded path

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: INFO    # Errors + metrics only (Production)
    org.springframework.cloud.gateway.route.RouteDefinitionRouteLocator: DEBUG     # Route loading
    org.springframework.cloud.gateway.handler.RoutePredicateHandlerMapping: DEBUG  # Path matching
    org.springframework.cloud.gateway.filter.NettyRoutingFilter: DEBUG           # Backend forwarding
